body{
  font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

}
/* ======================================
            common css
====================================*/
article{
  height:500px;
  margin-left: 10%;
  margin-right: 10%;
}
.photo{
  width: 100%;
}
h1{
  font-size: 50px;
  line-height: 20px;
}
p{
  color:#666;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.link_btn{
  padding:15px 40px;
  background-color:gray;
  text-decoration: none;
  font-weight: bold;
  color:white;
  border-radius: 5px;
}
.link_btn:hover{
  background-color:rgba(128, 128, 128, 0.788) ;
}
/* =======================================
            header area
=====================================*/
.header_area img{
  width:100%; 
  margin-left: 200px;
}
.header_area p{
margin-bottom:30px;
}
#main_top{
  margin-top:125px;
}
.header_top{
  border-left: 5px solid rgb(255, 0, 0);
  padding-right: 20px;
}
.heading_color{
  color:blue;
}
.half_width{
  width:40%;
  float:left;
}
/* ======================================
            mission area
===================================*/
.mission_area{
  margin-top: 100px;
}
.mission_area h2{
text-align: center;
margin-bottom: 50px;
margin-top: 60px;
font-size: 45px;
}
.mission{
  width:25%;
  margin-left: 10px;
  margin-right: 25px;
  padding:2%;
  height:330px;
  background-color:rgba(0, 0, 255, 0.048);
  border-radius: 10px;
  float:left; 
}
#vision{
  background-color: rgba(255, 255, 0, 0.185);
}
#goals{
  background-color: rgba(13, 200, 233, 0.226);
}
.illustrator img{
  width:100px;
}
#mission_color{
  color:rgb(251, 8, 8);
}
/* =====================================
                main top
======================================*/
.main_top_section{
  background-image: url(images/background/shape-1.png);
  background-repeat: no-repeat;
  background-position:left;
  background-size:250px; 
}
.main_top_area{
  margin-top: 50px;
}
.main_top_area p{
margin-bottom:30px;
}
.main_top_area img{
width:100%;
}
#top_text{
  margin-left: 150px;
  margin-top: 50px;
}
/* ========================================
                main bottom
=========================================*/
.main_bottom_section{
  background-image: url(images/background/shape-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 250px;
}
.main_bottom_area{
  margin-top: 50px;
}
.main_bottom_area p{
  margin-bottom: 30px;
}
.main_bottom_area img{
width:100%;
}
#bottom_text{
  margin-top: 50px;
}
#bottom_photo{
  margin-left: 200px;
}
/* ======================================
          about area
=======================================*/
.input_section h2{
text-align: center;
padding-bottom: 30px;
color:rgb(27, 216, 9)
}
.form{
  background-color: #8080801e;
  padding:20px;
  border-radius: 10px;
  border: 2px solid mediumorchid;
 margin-left: 20px;
}
.list{
  background-color:rgba(98, 241, 241, 0.295) ;
  border-radius: 10px;
  padding: 37px;
  margin-left: 45px;
  border: 2px solid cyan;
}
/* ===========================================
          footer area
============================================ */
footer{
  background-color: black;
  height:120px;
  color:white;
  padding-top: 20px;
}
footer h2{
  text-align: center;
}
#footer_deco{
  color:rgb(10, 10, 207)
}